<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" href="../test.css" type="text/css" />
		<script type="text/javascript" src="../../vendor/prototype.js"></script>
		<script type="text/javascript" src="../../vendor/effects.js"></script>
		<script type="text/javascript" src="../../vendor/unittest.js"></script>
		<script type="text/javascript" src="../../src/controldepo.js"></script>
	</head>
	<body>
		<h1><%= title %></h1>
		<div id="testlog"></div>
		<div id="scripts"></div>
		<script type="text/javascript">
			new Test.Unit.Runner({
				setup: function(){},
				teardown: function(){}
			});
		</script>
	</body>
</html>
